.root{
    /*-fx-font-size: 13px;*/
    /*-fx-font-family: "Monospaced";*/
    -fx-base: rgb(190, 190, 190);
    -fx-background: rgb(210, 210, 210);
    -fx-background-color: rgb(210, 210, 210);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.anchor {
    -fx-background-color: rgb(210, 210, 210);
}

#ImagePane{
    -fx-background-color: rgb(255, 255, 255);
}
