.root{
    /*-fx-font-size: 13px;*/
    /*-fx-font-family: "Monospaced";*/
    -fx-base: rgb(220, 220, 220);
    -fx-background: rgb(240, 240, 240);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}



.anchor {
    -fx-background-color: rgb(240, 240, 240);
}

#ImagePane{
    -fx-background-color: rgb(240, 240, 240);
}